* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #0f172a;
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: #1e293b;
}

nav a {
    color: white;
    text-decoration: none;
}

/* BOTÓN */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    background: #22c55e;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 100vh;
    padding: 20px;

    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("../img/publicarray-programming-1009134_1920.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
}

/* TEXTO CLARO */
.hero h2 {
    font-size: 45px;
    color: #f1f5f9;
}

.hero p {
    font-size: 20px;
    max-width: 600px;
    color: #e2e8f0;
}

/* BENEFICIOS */
.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background: #f8fafc;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 260px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

/* AGENDA */
.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background: #3b82f6;
    color: white;
}

.agenda ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

/* REGISTRO */
.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background: #f1f5f9;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
}

input, button {
    padding: 10px;
}

button {
    background: #22c55e;
    color: white;
    border: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    color: white;
    padding: 20px;
}