.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    padding: 20px;

    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("../img/publicarray-programming-1009134_1920.jpg");

    background-size: cover;       /* ajusta bien la imagen */
    background-position: center;  /* centra la imagen */
    background-repeat: no-repeat; /* evita repetición */

    text-align: center;
    color: white;
}